.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100vh;
}

.page-not-found__title {
  text-align: center;
  margin: 0;
  padding-top: 246px;
  font-weight: 400;
  font-size: 140px;
  line-height: normal;
  font-style: normal;
}

.page-not-found__text {
  text-align: center;
  margin: 0;
  padding: 5px 0 184px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

.page-not-found__button {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 0 0 60px 0;
  width: 42px;
  color: #4285F4;
  text-align: center;
  line-height: normal;
  border: none;
  margin: auto;
  background-color: #202020;
  transition: opacity .7s linear;
}


.page-not-found__button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .page-not-found__title {
    padding-top: 407px;
  }
}

@media screen and (max-width: 480px) {
  .page-not-found-page {
    width: 100%;
  }

  .page-not-found__title {
    padding-top: 330px;
    font-size: 80px;
  }

  .page-not-found__text {
    font-size: 12px;
    padding-bottom: 284px;
    padding-top: 10px;
  }

  .page-not-found__button {
    font-size: 12px;
    padding-bottom: 30px;
  }
}