.search {
  display: flex;
  max-width: 1140px;
  border-bottom: 1px solid #424242;
  margin: 0 0 10px 0;
  padding: 69px 0 69px;
  width: 100%;
}

.search__form {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 9px;
  margin: 0;
  padding: 0;
  max-width: 1140px;
  width: 100%;
  background: #2F2F2F;
  min-height: 70px;
}

.search__container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.search__image {
  margin: 0;
  width: 34px;
  padding: 17px 0 19px 19px;
}

.search__input-conteiner {
  padding: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
}

.search__input {
  background: #2F2F2F;
  margin: 0;
  padding: 0;
  min-height: 34px;
  width: 761px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #8B8B8B;
  border: none;
  outline: none;
}

.search__input:focus {
  border-bottom: 1px solid #4285F4;
}

.search__input-error {
  display: block;
  color: #EE3465;
  margin: 0;
  padding: 2px 0 0 0;
  min-height: 12px;
  line-height: normal;
  max-width: 396px;
  opacity: 1;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.search__button {
  text-align: center;
  margin: 0;
  padding: 0;
  background: #4285F4;
  width: 59px;
  height: 34px;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border: none;
  color: #FFF;
  outline: none;
  border-radius: 48px;
  transition: opacity .7s linear;
}

.search__button:hover {
  opacity: .8;
  cursor: pointer;
}

.search__icon {
  transform: rotate(90deg);
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: #424242;
  right: 207px;
  top: 35px;
  background: transparent url(../../images/searchIcon.svg) no-repeat;
}

.search__checkbox {
  margin: 0;
  padding: 0 0 0 60px;
  display: flex;
}

@media screen and (min-width: 1035px) and (max-width: 1279px) {
  .search {
    margin: 0 auto;
    max-width: 980px;
  }

  .search__input {
    width: 600px;
  }

  .search__checkbox {
    padding-right: 20px;
  }
  
  .search__form {
    max-width: 980px;
  }

  .search__input-conteiner {
    display: flex;
    padding: 10px 0 0 10px;
    flex-direction: column;
  }
  
}

@media screen and (min-width: 950px) and (max-width: 1034px) {
  .search {
    margin: 0 auto;
    max-width: 940px;
  }

  .search__input {
    width: 520px;
  }

  .search__icon {
    display: none;
  }
  
  .search__form {
    max-width: 940px;
  }
  
}

@media screen and (min-width: 801px) and (max-width: 949px) {
  .search {
    margin: 0 auto;
    max-width: 800px;
  }
  
  .search__input {
    width: 400px;
  }

  .search__icon {
    display: none;
  }

  .search__form {
    max-width: 800px;
  }

  .search__checkbox {
    padding-left: 20px;
  }
  
}

@media screen and (min-width: 690px) and (max-width: 800px) {
  .search {
    max-width: 708px;
    padding-top: 75px;
    padding-bottom: 110px;
  }

  .search__image {
    padding-top: 20px;
  }

  .search__form {
    min-height: 72px;
    max-width: 708px;
  }

  .search__icon {
    display: none;
  }

  .search__checkbox {
    padding-left: 40px;
    padding-top: 4px;
  }

  .search__input-conteiner {
    padding-top: 12px;
  }

  .search__input {
    width: 359px;
  }
}

@media screen and (min-width: 481px) and (max-width: 690px) {
  .search {
    max-width: 680px;
    padding-top: 75px;
    padding-bottom: 90px;
  }

  .search__container {
    border-radius: 9px;
    background: #2F2F2F;
    min-height: 72px;
    padding-left: 5px;
    margin-left: 5px;
  }


  .search__form {
    flex-direction: column;
    min-height: 72px;
    background: #202020;
    max-width: 680px;
  }

  .search__input {
    width: 180px;
    font-size: 14px;
    padding-left: 5px;
  }

  .search__button {
    margin: 0 10px 0 0;
  }

  .search__input-container {
    padding-top: 12px;
    width: 100%;
  }

  .search__icon {
    display: none;
  }

  .search__image {
    display: none;
  }

  .search__checkbox {
    padding-left: 40px;
    padding-top: 40px;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .search {
    max-width: 300px;
    padding-top: 80px;
    padding-bottom: 43px;
  }

  .search__container {
    border-radius: 9px;
    background: #2F2F2F;
    min-height: 72px;
  }

  .search__form {
    flex-direction: column;
    min-height: 72px;
    background: #202020;
  }

  .search__image {
    display: none;
  }

  .search__input {
    width: 203px;
    font-size: 14px;
    min-height: 22px;
    padding-top: 12px;
  }

  .search__input-container {
    padding-left: 19px;
  }


  .search__checkbox {
    padding-left: 0;
    padding-top: 46px;
    background: #202020;
    justify-content: center;
  }

  .search__icon {
    display: none;
  }
}